.mds-no-padding {
  padding: 0 !important; }

.mds-no-margin {
  margin: 0 !important; }

.mds-paddingXS {
  padding: 0.5rem; }

.mds-paddingS {
  padding: 0.875rem; }

.mds-padding {
  padding: 1.5rem; }

.mds-paddingL {
  padding: 2rem; }

.mds-paddingXL {
  padding: 2.25rem; }

.mds-paddingXXL {
  padding: 3.25rem; }

.mds-marginXS {
  margin: 0.5rem; }

.mds-marginS {
  margin: 0.875rem; }

.mds-margin {
  margin: 1.5rem; }

.mds-marginL {
  margin: 2rem; }

.mds-marginXL {
  margin: 2.25rem; }

.mds-marginXXL {
  margin: 3.25rem; }

.mds-no-margin-top {
  margin-top: 0 !important; }

.mds-no-padding-top {
  padding-top: 0 !important; }

.mds-paddingXS-top {
  padding-top: 0.5rem; }

.mds-paddingS-top {
  padding-top: 0.875rem; }

.mds-padding-top {
  padding-top: 1.5rem; }

.mds-paddingL-top {
  padding-top: 2rem; }

.mds-paddingXL-top {
  padding-top: 2.25rem; }

.mds-paddingXXL-top {
  padding-top: 3.25rem; }

.mds-marginXS-top {
  margin-top: 0.5rem; }

.mds-marginS-top {
  margin-top: 0.875rem; }

.mds-margin-top {
  margin-top: 1.5rem; }

.mds-marginL-top {
  margin-top: 2rem; }

.mds-marginXL-top {
  margin-top: 2.25rem; }

.mds-marginXXL-top {
  margin-top: 3.25rem; }

.mds-no-margin-right {
  margin-right: 0 !important; }

.mds-no-padding-right {
  padding-right: 0 !important; }

.mds-paddingXS-right {
  padding-right: 0.5rem; }

.mds-paddingS-right {
  padding-right: 0.875rem; }

.mds-padding-right {
  padding-right: 1.5rem; }

.mds-paddingL-right {
  padding-right: 2rem; }

.mds-paddingXL-right {
  padding-right: 2.25rem; }

.mds-paddingXXL-right {
  padding-right: 3.25rem; }

.mds-marginXS-right {
  margin-right: 0.5rem; }

.mds-marginS-right {
  margin-right: 0.875rem; }

.mds-margin-right {
  margin-right: 1.5rem; }

.mds-marginL-right {
  margin-right: 2rem; }

.mds-marginXL-right {
  margin-right: 2.25rem; }

.mds-marginXXL-right {
  margin-right: 3.25rem; }

.mds-no-margin-bottom {
  margin-bottom: 0 !important; }

.mds-no-padding-bottom {
  padding-bottom: 0 !important; }

.mds-paddingXS-bottom {
  padding-bottom: 0.5rem; }

.mds-paddingS-bottom {
  padding-bottom: 0.875rem; }

.mds-padding-bottom {
  padding-bottom: 1.5rem; }

.mds-paddingL-bottom {
  padding-bottom: 2rem; }

.mds-paddingXL-bottom {
  padding-bottom: 2.25rem; }

.mds-paddingXXL-bottom {
  padding-bottom: 3.25rem; }

.mds-marginXS-bottom {
  margin-bottom: 0.5rem; }

.mds-marginS-bottom {
  margin-bottom: 0.875rem; }

.mds-margin-bottom {
  margin-bottom: 1.5rem; }

.mds-marginL-bottom {
  margin-bottom: 2rem; }

.mds-marginXL-bottom {
  margin-bottom: 2.25rem; }

.mds-marginXXL-bottom {
  margin-bottom: 3.25rem; }

.mds-no-margin-left {
  margin-left: 0 !important; }

.mds-no-padding-left {
  padding-left: 0 !important; }

.mds-paddingXS-left {
  padding-left: 0.5rem; }

.mds-paddingS-left {
  padding-left: 0.875rem; }

.mds-padding-left {
  padding-left: 1.5rem; }

.mds-paddingL-left {
  padding-left: 2rem; }

.mds-paddingXL-left {
  padding-left: 2.25rem; }

.mds-paddingXXL-left {
  padding-left: 3.25rem; }

.mds-marginXS-left {
  margin-left: 0.5rem; }

.mds-marginS-left {
  margin-left: 0.875rem; }

.mds-margin-left {
  margin-left: 1.5rem; }

.mds-marginL-left {
  margin-left: 2rem; }

.mds-marginXL-left {
  margin-left: 2.25rem; }

.mds-marginXXL-left {
  margin-left: 3.25rem; }

@media only screen and (min-width: 575px) {
  .mds-no-margin-top-for-xs {
    margin-top: 0 !important; }
  .mds-no-padding-top-for-xs {
    padding-top: 0 !important; }
  .mds-paddingXS-top-for-xs {
    padding-top: 0.5rem; }
  .mds-paddingS-top-for-xs {
    padding-top: 0.875rem; }
  .mds-padding-top-for-xs {
    padding-top: 1.5rem; }
  .mds-paddingL-top-for-xs {
    padding-top: 2rem; }
  .mds-paddingXL-top-for-xs {
    padding-top: 2.25rem; }
  .mds-paddingXXL-top-for-xs {
    padding-top: 3.25rem; }
  .mds-marginXS-top-for-xs {
    margin-top: 0.5rem; }
  .mds-marginS-top-for-xs {
    margin-top: 0.875rem; }
  .mds-margin-top-for-xs {
    margin-top: 1.5rem; }
  .mds-marginL-top-for-xs {
    margin-top: 2rem; }
  .mds-marginXL-top-for-xs {
    margin-top: 2.25rem; }
  .mds-marginXXL-top-for-xs {
    margin-top: 3.25rem; }
  .mds-no-margin-right-for-xs {
    margin-right: 0 !important; }
  .mds-no-padding-right-for-xs {
    padding-right: 0 !important; }
  .mds-paddingXS-right-for-xs {
    padding-right: 0.5rem; }
  .mds-paddingS-right-for-xs {
    padding-right: 0.875rem; }
  .mds-padding-right-for-xs {
    padding-right: 1.5rem; }
  .mds-paddingL-right-for-xs {
    padding-right: 2rem; }
  .mds-paddingXL-right-for-xs {
    padding-right: 2.25rem; }
  .mds-paddingXXL-right-for-xs {
    padding-right: 3.25rem; }
  .mds-marginXS-right-for-xs {
    margin-right: 0.5rem; }
  .mds-marginS-right-for-xs {
    margin-right: 0.875rem; }
  .mds-margin-right-for-xs {
    margin-right: 1.5rem; }
  .mds-marginL-right-for-xs {
    margin-right: 2rem; }
  .mds-marginXL-right-for-xs {
    margin-right: 2.25rem; }
  .mds-marginXXL-right-for-xs {
    margin-right: 3.25rem; }
  .mds-no-margin-bottom-for-xs {
    margin-bottom: 0 !important; }
  .mds-no-padding-bottom-for-xs {
    padding-bottom: 0 !important; }
  .mds-paddingXS-bottom-for-xs {
    padding-bottom: 0.5rem; }
  .mds-paddingS-bottom-for-xs {
    padding-bottom: 0.875rem; }
  .mds-padding-bottom-for-xs {
    padding-bottom: 1.5rem; }
  .mds-paddingL-bottom-for-xs {
    padding-bottom: 2rem; }
  .mds-paddingXL-bottom-for-xs {
    padding-bottom: 2.25rem; }
  .mds-paddingXXL-bottom-for-xs {
    padding-bottom: 3.25rem; }
  .mds-marginXS-bottom-for-xs {
    margin-bottom: 0.5rem; }
  .mds-marginS-bottom-for-xs {
    margin-bottom: 0.875rem; }
  .mds-margin-bottom-for-xs {
    margin-bottom: 1.5rem; }
  .mds-marginL-bottom-for-xs {
    margin-bottom: 2rem; }
  .mds-marginXL-bottom-for-xs {
    margin-bottom: 2.25rem; }
  .mds-marginXXL-bottom-for-xs {
    margin-bottom: 3.25rem; }
  .mds-no-margin-left-for-xs {
    margin-left: 0 !important; }
  .mds-no-padding-left-for-xs {
    padding-left: 0 !important; }
  .mds-paddingXS-left-for-xs {
    padding-left: 0.5rem; }
  .mds-paddingS-left-for-xs {
    padding-left: 0.875rem; }
  .mds-padding-left-for-xs {
    padding-left: 1.5rem; }
  .mds-paddingL-left-for-xs {
    padding-left: 2rem; }
  .mds-paddingXL-left-for-xs {
    padding-left: 2.25rem; }
  .mds-paddingXXL-left-for-xs {
    padding-left: 3.25rem; }
  .mds-marginXS-left-for-xs {
    margin-left: 0.5rem; }
  .mds-marginS-left-for-xs {
    margin-left: 0.875rem; }
  .mds-margin-left-for-xs {
    margin-left: 1.5rem; }
  .mds-marginL-left-for-xs {
    margin-left: 2rem; }
  .mds-marginXL-left-for-xs {
    margin-left: 2.25rem; }
  .mds-marginXXL-left-for-xs {
    margin-left: 3.25rem; } }

@media only screen and (min-width: 768px) {
  .mds-no-margin-top-for-sm {
    margin-top: 0 !important; }
  .mds-no-padding-top-for-sm {
    padding-top: 0 !important; }
  .mds-paddingXS-top-for-sm {
    padding-top: 0.5rem; }
  .mds-paddingS-top-for-sm {
    padding-top: 0.875rem; }
  .mds-padding-top-for-sm {
    padding-top: 1.5rem; }
  .mds-paddingL-top-for-sm {
    padding-top: 2rem; }
  .mds-paddingXL-top-for-sm {
    padding-top: 2.25rem; }
  .mds-paddingXXL-top-for-sm {
    padding-top: 3.25rem; }
  .mds-marginXS-top-for-sm {
    margin-top: 0.5rem; }
  .mds-marginS-top-for-sm {
    margin-top: 0.875rem; }
  .mds-margin-top-for-sm {
    margin-top: 1.5rem; }
  .mds-marginL-top-for-sm {
    margin-top: 2rem; }
  .mds-marginXL-top-for-sm {
    margin-top: 2.25rem; }
  .mds-marginXXL-top-for-sm {
    margin-top: 3.25rem; }
  .mds-no-margin-right-for-sm {
    margin-right: 0 !important; }
  .mds-no-padding-right-for-sm {
    padding-right: 0 !important; }
  .mds-paddingXS-right-for-sm {
    padding-right: 0.5rem; }
  .mds-paddingS-right-for-sm {
    padding-right: 0.875rem; }
  .mds-padding-right-for-sm {
    padding-right: 1.5rem; }
  .mds-paddingL-right-for-sm {
    padding-right: 2rem; }
  .mds-paddingXL-right-for-sm {
    padding-right: 2.25rem; }
  .mds-paddingXXL-right-for-sm {
    padding-right: 3.25rem; }
  .mds-marginXS-right-for-sm {
    margin-right: 0.5rem; }
  .mds-marginS-right-for-sm {
    margin-right: 0.875rem; }
  .mds-margin-right-for-sm {
    margin-right: 1.5rem; }
  .mds-marginL-right-for-sm {
    margin-right: 2rem; }
  .mds-marginXL-right-for-sm {
    margin-right: 2.25rem; }
  .mds-marginXXL-right-for-sm {
    margin-right: 3.25rem; }
  .mds-no-margin-bottom-for-sm {
    margin-bottom: 0 !important; }
  .mds-no-padding-bottom-for-sm {
    padding-bottom: 0 !important; }
  .mds-paddingXS-bottom-for-sm {
    padding-bottom: 0.5rem; }
  .mds-paddingS-bottom-for-sm {
    padding-bottom: 0.875rem; }
  .mds-padding-bottom-for-sm {
    padding-bottom: 1.5rem; }
  .mds-paddingL-bottom-for-sm {
    padding-bottom: 2rem; }
  .mds-paddingXL-bottom-for-sm {
    padding-bottom: 2.25rem; }
  .mds-paddingXXL-bottom-for-sm {
    padding-bottom: 3.25rem; }
  .mds-marginXS-bottom-for-sm {
    margin-bottom: 0.5rem; }
  .mds-marginS-bottom-for-sm {
    margin-bottom: 0.875rem; }
  .mds-margin-bottom-for-sm {
    margin-bottom: 1.5rem; }
  .mds-marginL-bottom-for-sm {
    margin-bottom: 2rem; }
  .mds-marginXL-bottom-for-sm {
    margin-bottom: 2.25rem; }
  .mds-marginXXL-bottom-for-sm {
    margin-bottom: 3.25rem; }
  .mds-no-margin-left-for-sm {
    margin-left: 0 !important; }
  .mds-no-padding-left-for-sm {
    padding-left: 0 !important; }
  .mds-paddingXS-left-for-sm {
    padding-left: 0.5rem; }
  .mds-paddingS-left-for-sm {
    padding-left: 0.875rem; }
  .mds-padding-left-for-sm {
    padding-left: 1.5rem; }
  .mds-paddingL-left-for-sm {
    padding-left: 2rem; }
  .mds-paddingXL-left-for-sm {
    padding-left: 2.25rem; }
  .mds-paddingXXL-left-for-sm {
    padding-left: 3.25rem; }
  .mds-marginXS-left-for-sm {
    margin-left: 0.5rem; }
  .mds-marginS-left-for-sm {
    margin-left: 0.875rem; }
  .mds-margin-left-for-sm {
    margin-left: 1.5rem; }
  .mds-marginL-left-for-sm {
    margin-left: 2rem; }
  .mds-marginXL-left-for-sm {
    margin-left: 2.25rem; }
  .mds-marginXXL-left-for-sm {
    margin-left: 3.25rem; } }

@media only screen and (min-width: 1024px) {
  .mds-no-margin-top-for-md {
    margin-top: 0 !important; }
  .mds-no-padding-top-for-md {
    padding-top: 0 !important; }
  .mds-paddingXS-top-for-md {
    padding-top: 0.5rem; }
  .mds-paddingS-top-for-md {
    padding-top: 0.875rem; }
  .mds-padding-top-for-md {
    padding-top: 1.5rem; }
  .mds-paddingL-top-for-md {
    padding-top: 2rem; }
  .mds-paddingXL-top-for-md {
    padding-top: 2.25rem; }
  .mds-paddingXXL-top-for-md {
    padding-top: 3.25rem; }
  .mds-marginXS-top-for-md {
    margin-top: 0.5rem; }
  .mds-marginS-top-for-md {
    margin-top: 0.875rem; }
  .mds-margin-top-for-md {
    margin-top: 1.5rem; }
  .mds-marginL-top-for-md {
    margin-top: 2rem; }
  .mds-marginXL-top-for-md {
    margin-top: 2.25rem; }
  .mds-marginXXL-top-for-md {
    margin-top: 3.25rem; }
  .mds-no-margin-right-for-md {
    margin-right: 0 !important; }
  .mds-no-padding-right-for-md {
    padding-right: 0 !important; }
  .mds-paddingXS-right-for-md {
    padding-right: 0.5rem; }
  .mds-paddingS-right-for-md {
    padding-right: 0.875rem; }
  .mds-padding-right-for-md {
    padding-right: 1.5rem; }
  .mds-paddingL-right-for-md {
    padding-right: 2rem; }
  .mds-paddingXL-right-for-md {
    padding-right: 2.25rem; }
  .mds-paddingXXL-right-for-md {
    padding-right: 3.25rem; }
  .mds-marginXS-right-for-md {
    margin-right: 0.5rem; }
  .mds-marginS-right-for-md {
    margin-right: 0.875rem; }
  .mds-margin-right-for-md {
    margin-right: 1.5rem; }
  .mds-marginL-right-for-md {
    margin-right: 2rem; }
  .mds-marginXL-right-for-md {
    margin-right: 2.25rem; }
  .mds-marginXXL-right-for-md {
    margin-right: 3.25rem; }
  .mds-no-margin-bottom-for-md {
    margin-bottom: 0 !important; }
  .mds-no-padding-bottom-for-md {
    padding-bottom: 0 !important; }
  .mds-paddingXS-bottom-for-md {
    padding-bottom: 0.5rem; }
  .mds-paddingS-bottom-for-md {
    padding-bottom: 0.875rem; }
  .mds-padding-bottom-for-md {
    padding-bottom: 1.5rem; }
  .mds-paddingL-bottom-for-md {
    padding-bottom: 2rem; }
  .mds-paddingXL-bottom-for-md {
    padding-bottom: 2.25rem; }
  .mds-paddingXXL-bottom-for-md {
    padding-bottom: 3.25rem; }
  .mds-marginXS-bottom-for-md {
    margin-bottom: 0.5rem; }
  .mds-marginS-bottom-for-md {
    margin-bottom: 0.875rem; }
  .mds-margin-bottom-for-md {
    margin-bottom: 1.5rem; }
  .mds-marginL-bottom-for-md {
    margin-bottom: 2rem; }
  .mds-marginXL-bottom-for-md {
    margin-bottom: 2.25rem; }
  .mds-marginXXL-bottom-for-md {
    margin-bottom: 3.25rem; }
  .mds-no-margin-left-for-md {
    margin-left: 0 !important; }
  .mds-no-padding-left-for-md {
    padding-left: 0 !important; }
  .mds-paddingXS-left-for-md {
    padding-left: 0.5rem; }
  .mds-paddingS-left-for-md {
    padding-left: 0.875rem; }
  .mds-padding-left-for-md {
    padding-left: 1.5rem; }
  .mds-paddingL-left-for-md {
    padding-left: 2rem; }
  .mds-paddingXL-left-for-md {
    padding-left: 2.25rem; }
  .mds-paddingXXL-left-for-md {
    padding-left: 3.25rem; }
  .mds-marginXS-left-for-md {
    margin-left: 0.5rem; }
  .mds-marginS-left-for-md {
    margin-left: 0.875rem; }
  .mds-margin-left-for-md {
    margin-left: 1.5rem; }
  .mds-marginL-left-for-md {
    margin-left: 2rem; }
  .mds-marginXL-left-for-md {
    margin-left: 2.25rem; }
  .mds-marginXXL-left-for-md {
    margin-left: 3.25rem; } }

@media only screen and (min-width: 1200px) {
  .mds-no-margin-top-for-lg {
    margin-top: 0 !important; }
  .mds-no-padding-top-for-lg {
    padding-top: 0 !important; }
  .mds-paddingXS-top-for-lg {
    padding-top: 0.5rem; }
  .mds-paddingS-top-for-lg {
    padding-top: 0.875rem; }
  .mds-padding-top-for-lg {
    padding-top: 1.5rem; }
  .mds-paddingL-top-for-lg {
    padding-top: 2rem; }
  .mds-paddingXL-top-for-lg {
    padding-top: 2.25rem; }
  .mds-paddingXXL-top-for-lg {
    padding-top: 3.25rem; }
  .mds-marginXS-top-for-lg {
    margin-top: 0.5rem; }
  .mds-marginS-top-for-lg {
    margin-top: 0.875rem; }
  .mds-margin-top-for-lg {
    margin-top: 1.5rem; }
  .mds-marginL-top-for-lg {
    margin-top: 2rem; }
  .mds-marginXL-top-for-lg {
    margin-top: 2.25rem; }
  .mds-marginXXL-top-for-lg {
    margin-top: 3.25rem; }
  .mds-no-margin-right-for-lg {
    margin-right: 0 !important; }
  .mds-no-padding-right-for-lg {
    padding-right: 0 !important; }
  .mds-paddingXS-right-for-lg {
    padding-right: 0.5rem; }
  .mds-paddingS-right-for-lg {
    padding-right: 0.875rem; }
  .mds-padding-right-for-lg {
    padding-right: 1.5rem; }
  .mds-paddingL-right-for-lg {
    padding-right: 2rem; }
  .mds-paddingXL-right-for-lg {
    padding-right: 2.25rem; }
  .mds-paddingXXL-right-for-lg {
    padding-right: 3.25rem; }
  .mds-marginXS-right-for-lg {
    margin-right: 0.5rem; }
  .mds-marginS-right-for-lg {
    margin-right: 0.875rem; }
  .mds-margin-right-for-lg {
    margin-right: 1.5rem; }
  .mds-marginL-right-for-lg {
    margin-right: 2rem; }
  .mds-marginXL-right-for-lg {
    margin-right: 2.25rem; }
  .mds-marginXXL-right-for-lg {
    margin-right: 3.25rem; }
  .mds-no-margin-bottom-for-lg {
    margin-bottom: 0 !important; }
  .mds-no-padding-bottom-for-lg {
    padding-bottom: 0 !important; }
  .mds-paddingXS-bottom-for-lg {
    padding-bottom: 0.5rem; }
  .mds-paddingS-bottom-for-lg {
    padding-bottom: 0.875rem; }
  .mds-padding-bottom-for-lg {
    padding-bottom: 1.5rem; }
  .mds-paddingL-bottom-for-lg {
    padding-bottom: 2rem; }
  .mds-paddingXL-bottom-for-lg {
    padding-bottom: 2.25rem; }
  .mds-paddingXXL-bottom-for-lg {
    padding-bottom: 3.25rem; }
  .mds-marginXS-bottom-for-lg {
    margin-bottom: 0.5rem; }
  .mds-marginS-bottom-for-lg {
    margin-bottom: 0.875rem; }
  .mds-margin-bottom-for-lg {
    margin-bottom: 1.5rem; }
  .mds-marginL-bottom-for-lg {
    margin-bottom: 2rem; }
  .mds-marginXL-bottom-for-lg {
    margin-bottom: 2.25rem; }
  .mds-marginXXL-bottom-for-lg {
    margin-bottom: 3.25rem; }
  .mds-no-margin-left-for-lg {
    margin-left: 0 !important; }
  .mds-no-padding-left-for-lg {
    padding-left: 0 !important; }
  .mds-paddingXS-left-for-lg {
    padding-left: 0.5rem; }
  .mds-paddingS-left-for-lg {
    padding-left: 0.875rem; }
  .mds-padding-left-for-lg {
    padding-left: 1.5rem; }
  .mds-paddingL-left-for-lg {
    padding-left: 2rem; }
  .mds-paddingXL-left-for-lg {
    padding-left: 2.25rem; }
  .mds-paddingXXL-left-for-lg {
    padding-left: 3.25rem; }
  .mds-marginXS-left-for-lg {
    margin-left: 0.5rem; }
  .mds-marginS-left-for-lg {
    margin-left: 0.875rem; }
  .mds-margin-left-for-lg {
    margin-left: 1.5rem; }
  .mds-marginL-left-for-lg {
    margin-left: 2rem; }
  .mds-marginXL-left-for-lg {
    margin-left: 2.25rem; }
  .mds-marginXXL-left-for-lg {
    margin-left: 3.25rem; } }

@media only screen and (min-width: 1440px) {
  .mds-no-margin-top-for-xl {
    margin-top: 0 !important; }
  .mds-no-padding-top-for-xl {
    padding-top: 0 !important; }
  .mds-paddingXS-top-for-xl {
    padding-top: 0.5rem; }
  .mds-paddingS-top-for-xl {
    padding-top: 0.875rem; }
  .mds-padding-top-for-xl {
    padding-top: 1.5rem; }
  .mds-paddingL-top-for-xl {
    padding-top: 2rem; }
  .mds-paddingXL-top-for-xl {
    padding-top: 2.25rem; }
  .mds-paddingXXL-top-for-xl {
    padding-top: 3.25rem; }
  .mds-marginXS-top-for-xl {
    margin-top: 0.5rem; }
  .mds-marginS-top-for-xl {
    margin-top: 0.875rem; }
  .mds-margin-top-for-xl {
    margin-top: 1.5rem; }
  .mds-marginL-top-for-xl {
    margin-top: 2rem; }
  .mds-marginXL-top-for-xl {
    margin-top: 2.25rem; }
  .mds-marginXXL-top-for-xl {
    margin-top: 3.25rem; }
  .mds-no-margin-right-for-xl {
    margin-right: 0 !important; }
  .mds-no-padding-right-for-xl {
    padding-right: 0 !important; }
  .mds-paddingXS-right-for-xl {
    padding-right: 0.5rem; }
  .mds-paddingS-right-for-xl {
    padding-right: 0.875rem; }
  .mds-padding-right-for-xl {
    padding-right: 1.5rem; }
  .mds-paddingL-right-for-xl {
    padding-right: 2rem; }
  .mds-paddingXL-right-for-xl {
    padding-right: 2.25rem; }
  .mds-paddingXXL-right-for-xl {
    padding-right: 3.25rem; }
  .mds-marginXS-right-for-xl {
    margin-right: 0.5rem; }
  .mds-marginS-right-for-xl {
    margin-right: 0.875rem; }
  .mds-margin-right-for-xl {
    margin-right: 1.5rem; }
  .mds-marginL-right-for-xl {
    margin-right: 2rem; }
  .mds-marginXL-right-for-xl {
    margin-right: 2.25rem; }
  .mds-marginXXL-right-for-xl {
    margin-right: 3.25rem; }
  .mds-no-margin-bottom-for-xl {
    margin-bottom: 0 !important; }
  .mds-no-padding-bottom-for-xl {
    padding-bottom: 0 !important; }
  .mds-paddingXS-bottom-for-xl {
    padding-bottom: 0.5rem; }
  .mds-paddingS-bottom-for-xl {
    padding-bottom: 0.875rem; }
  .mds-padding-bottom-for-xl {
    padding-bottom: 1.5rem; }
  .mds-paddingL-bottom-for-xl {
    padding-bottom: 2rem; }
  .mds-paddingXL-bottom-for-xl {
    padding-bottom: 2.25rem; }
  .mds-paddingXXL-bottom-for-xl {
    padding-bottom: 3.25rem; }
  .mds-marginXS-bottom-for-xl {
    margin-bottom: 0.5rem; }
  .mds-marginS-bottom-for-xl {
    margin-bottom: 0.875rem; }
  .mds-margin-bottom-for-xl {
    margin-bottom: 1.5rem; }
  .mds-marginL-bottom-for-xl {
    margin-bottom: 2rem; }
  .mds-marginXL-bottom-for-xl {
    margin-bottom: 2.25rem; }
  .mds-marginXXL-bottom-for-xl {
    margin-bottom: 3.25rem; }
  .mds-no-margin-left-for-xl {
    margin-left: 0 !important; }
  .mds-no-padding-left-for-xl {
    padding-left: 0 !important; }
  .mds-paddingXS-left-for-xl {
    padding-left: 0.5rem; }
  .mds-paddingS-left-for-xl {
    padding-left: 0.875rem; }
  .mds-padding-left-for-xl {
    padding-left: 1.5rem; }
  .mds-paddingL-left-for-xl {
    padding-left: 2rem; }
  .mds-paddingXL-left-for-xl {
    padding-left: 2.25rem; }
  .mds-paddingXXL-left-for-xl {
    padding-left: 3.25rem; }
  .mds-marginXS-left-for-xl {
    margin-left: 0.5rem; }
  .mds-marginS-left-for-xl {
    margin-left: 0.875rem; }
  .mds-margin-left-for-xl {
    margin-left: 1.5rem; }
  .mds-marginL-left-for-xl {
    margin-left: 2rem; }
  .mds-marginXL-left-for-xl {
    margin-left: 2.25rem; }
  .mds-marginXXL-left-for-xl {
    margin-left: 3.25rem; } }

@media only screen and (min-width: 2000px) {
  .mds-no-margin-top-for-xxl {
    margin-top: 0 !important; }
  .mds-no-padding-top-for-xxl {
    padding-top: 0 !important; }
  .mds-paddingXS-top-for-xxl {
    padding-top: 0.5rem; }
  .mds-paddingS-top-for-xxl {
    padding-top: 0.875rem; }
  .mds-padding-top-for-xxl {
    padding-top: 1.5rem; }
  .mds-paddingL-top-for-xxl {
    padding-top: 2rem; }
  .mds-paddingXL-top-for-xxl {
    padding-top: 2.25rem; }
  .mds-paddingXXL-top-for-xxl {
    padding-top: 3.25rem; }
  .mds-marginXS-top-for-xxl {
    margin-top: 0.5rem; }
  .mds-marginS-top-for-xxl {
    margin-top: 0.875rem; }
  .mds-margin-top-for-xxl {
    margin-top: 1.5rem; }
  .mds-marginL-top-for-xxl {
    margin-top: 2rem; }
  .mds-marginXL-top-for-xxl {
    margin-top: 2.25rem; }
  .mds-marginXXL-top-for-xxl {
    margin-top: 3.25rem; }
  .mds-no-margin-right-for-xxl {
    margin-right: 0 !important; }
  .mds-no-padding-right-for-xxl {
    padding-right: 0 !important; }
  .mds-paddingXS-right-for-xxl {
    padding-right: 0.5rem; }
  .mds-paddingS-right-for-xxl {
    padding-right: 0.875rem; }
  .mds-padding-right-for-xxl {
    padding-right: 1.5rem; }
  .mds-paddingL-right-for-xxl {
    padding-right: 2rem; }
  .mds-paddingXL-right-for-xxl {
    padding-right: 2.25rem; }
  .mds-paddingXXL-right-for-xxl {
    padding-right: 3.25rem; }
  .mds-marginXS-right-for-xxl {
    margin-right: 0.5rem; }
  .mds-marginS-right-for-xxl {
    margin-right: 0.875rem; }
  .mds-margin-right-for-xxl {
    margin-right: 1.5rem; }
  .mds-marginL-right-for-xxl {
    margin-right: 2rem; }
  .mds-marginXL-right-for-xxl {
    margin-right: 2.25rem; }
  .mds-marginXXL-right-for-xxl {
    margin-right: 3.25rem; }
  .mds-no-margin-bottom-for-xxl {
    margin-bottom: 0 !important; }
  .mds-no-padding-bottom-for-xxl {
    padding-bottom: 0 !important; }
  .mds-paddingXS-bottom-for-xxl {
    padding-bottom: 0.5rem; }
  .mds-paddingS-bottom-for-xxl {
    padding-bottom: 0.875rem; }
  .mds-padding-bottom-for-xxl {
    padding-bottom: 1.5rem; }
  .mds-paddingL-bottom-for-xxl {
    padding-bottom: 2rem; }
  .mds-paddingXL-bottom-for-xxl {
    padding-bottom: 2.25rem; }
  .mds-paddingXXL-bottom-for-xxl {
    padding-bottom: 3.25rem; }
  .mds-marginXS-bottom-for-xxl {
    margin-bottom: 0.5rem; }
  .mds-marginS-bottom-for-xxl {
    margin-bottom: 0.875rem; }
  .mds-margin-bottom-for-xxl {
    margin-bottom: 1.5rem; }
  .mds-marginL-bottom-for-xxl {
    margin-bottom: 2rem; }
  .mds-marginXL-bottom-for-xxl {
    margin-bottom: 2.25rem; }
  .mds-marginXXL-bottom-for-xxl {
    margin-bottom: 3.25rem; }
  .mds-no-margin-left-for-xxl {
    margin-left: 0 !important; }
  .mds-no-padding-left-for-xxl {
    padding-left: 0 !important; }
  .mds-paddingXS-left-for-xxl {
    padding-left: 0.5rem; }
  .mds-paddingS-left-for-xxl {
    padding-left: 0.875rem; }
  .mds-padding-left-for-xxl {
    padding-left: 1.5rem; }
  .mds-paddingL-left-for-xxl {
    padding-left: 2rem; }
  .mds-paddingXL-left-for-xxl {
    padding-left: 2.25rem; }
  .mds-paddingXXL-left-for-xxl {
    padding-left: 3.25rem; }
  .mds-marginXS-left-for-xxl {
    margin-left: 0.5rem; }
  .mds-marginS-left-for-xxl {
    margin-left: 0.875rem; }
  .mds-margin-left-for-xxl {
    margin-left: 1.5rem; }
  .mds-marginL-left-for-xxl {
    margin-left: 2rem; }
  .mds-marginXL-left-for-xxl {
    margin-left: 2.25rem; }
  .mds-marginXXL-left-for-xxl {
    margin-left: 3.25rem; } }

.mds-radiusXS {
  border-radius: 0.5rem; }

.mds-radiusS {
  border-radius: 0.6rem; }

.mds-radius {
  border-radius: 0.875rem; }

.mds-radiusL {
  border-radius: 3.125rem; }

.mds-radiusXL {
  border-radius: 15.875rem; }

.mds-radiusXXL {
  border-radius: 100rem; }

.mds-radiusXS-top-left {
  border-top-left-radius: 0.5rem; }

.mds-radiusS-top-left {
  border-top-left-radius: 0.6rem; }

.mds-radius-top-left {
  border-top-left-radius: 0.875rem; }

.mds-radiusL-top-left {
  border-top-left-radius: 3.125rem; }

.mds-radiusXL-top-left {
  border-top-left-radius: 15.875rem; }

.mds-radiusXXL-top-left {
  border-top-left-radius: 100rem; }

.mds-radiusXS-top-right {
  border-top-right-radius: 0.5rem; }

.mds-radiusS-top-right {
  border-top-right-radius: 0.6rem; }

.mds-radius-top-right {
  border-top-right-radius: 0.875rem; }

.mds-radiusL-top-right {
  border-top-right-radius: 3.125rem; }

.mds-radiusXL-top-right {
  border-top-right-radius: 15.875rem; }

.mds-radiusXXL-top-right {
  border-top-right-radius: 100rem; }

.mds-radiusXS-bottom-right {
  border-bottom-right-radius: 0.5rem; }

.mds-radiusS-bottom-right {
  border-bottom-right-radius: 0.6rem; }

.mds-radius-bottom-right {
  border-bottom-right-radius: 0.875rem; }

.mds-radiusL-bottom-right {
  border-bottom-right-radius: 3.125rem; }

.mds-radiusXL-bottom-right {
  border-bottom-right-radius: 15.875rem; }

.mds-radiusXXL-bottom-right {
  border-bottom-right-radius: 100rem; }

.mds-radiusXS-bottom-left {
  border-bottom-left-radius: 0.5rem; }

.mds-radiusS-bottom-left {
  border-bottom-left-radius: 0.6rem; }

.mds-radius-bottom-left {
  border-bottom-left-radius: 0.875rem; }

.mds-radiusL-bottom-left {
  border-bottom-left-radius: 3.125rem; }

.mds-radiusXL-bottom-left {
  border-bottom-left-radius: 15.875rem; }

.mds-radiusXXL-bottom-left {
  border-bottom-left-radius: 100rem; }

.mds-hide {
  visibility: hidden;
  display: none; }

@media screen and (max-width: 575px) {
  .show-for-xs-up {
    display: none !important; } }

@media screen and (max-width: 768px) {
  .show-for-sm-up {
    display: none !important; } }

@media screen and (max-width: 1024px) {
  .show-for-md-up {
    display: none !important; } }

@media screen and (max-width: 1200px) {
  .show-for-lg-up {
    display: none !important; } }

@media screen and (max-width: 1440px) {
  .show-for-xl-up {
    display: none !important; } }

@media screen and (max-width: 2000px) {
  .show-for-xxl-up {
    display: none !important; } }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.5rem; }
  .grid_cols > * {
    grid-column: span 12; }
  .grid_col {
    grid-column: span 12;
    padding: 0.5rem; }
  .grid_col-1, .grid.grid_cols-1 > * {
    grid-column: span 1; }
  .grid_col-2, .grid.grid_cols-2 > * {
    grid-column: span 2; }
  .grid_col-3, .grid.grid_cols-3 > * {
    grid-column: span 3; }
  .grid_col-4, .grid.grid_cols-4 > * {
    grid-column: span 4; }
  .grid_col-5, .grid.grid_cols-5 > * {
    grid-column: span 5; }
  .grid_col-6, .grid.grid_cols-6 > * {
    grid-column: span 6; }
  .grid_col-7, .grid.grid_cols-7 > * {
    grid-column: span 7; }
  .grid_col-8, .grid.grid_cols-8 > * {
    grid-column: span 8; }
  .grid_col-9, .grid.grid_cols-9 > * {
    grid-column: span 9; }
  .grid_col-10, .grid.grid_cols-10 > * {
    grid-column: span 10; }
  .grid_col-11, .grid.grid_cols-11 > * {
    grid-column: span 11; }
  .grid_col-12, .grid.grid_cols-12 > * {
    grid-column: span 12; }
  @media only screen and (min-width: 575px) {
    .grid_col-xs-1, .grid.grid_cols-xs-1 > * {
      grid-column: span 1; }
    .grid_col-xs-2, .grid.grid_cols-xs-2 > * {
      grid-column: span 2; }
    .grid_col-xs-3, .grid.grid_cols-xs-3 > * {
      grid-column: span 3; }
    .grid_col-xs-4, .grid.grid_cols-xs-4 > * {
      grid-column: span 4; }
    .grid_col-xs-5, .grid.grid_cols-xs-5 > * {
      grid-column: span 5; }
    .grid_col-xs-6, .grid.grid_cols-xs-6 > * {
      grid-column: span 6; }
    .grid_col-xs-7, .grid.grid_cols-xs-7 > * {
      grid-column: span 7; }
    .grid_col-xs-8, .grid.grid_cols-xs-8 > * {
      grid-column: span 8; }
    .grid_col-xs-9, .grid.grid_cols-xs-9 > * {
      grid-column: span 9; }
    .grid_col-xs-10, .grid.grid_cols-xs-10 > * {
      grid-column: span 10; }
    .grid_col-xs-11, .grid.grid_cols-xs-11 > * {
      grid-column: span 11; }
    .grid_col-xs-12, .grid.grid_cols-xs-12 > * {
      grid-column: span 12; } }
  @media only screen and (min-width: 768px) {
    .grid_col-sm-1, .grid.grid_cols-sm-1 > * {
      grid-column: span 1; }
    .grid_col-sm-2, .grid.grid_cols-sm-2 > * {
      grid-column: span 2; }
    .grid_col-sm-3, .grid.grid_cols-sm-3 > * {
      grid-column: span 3; }
    .grid_col-sm-4, .grid.grid_cols-sm-4 > * {
      grid-column: span 4; }
    .grid_col-sm-5, .grid.grid_cols-sm-5 > * {
      grid-column: span 5; }
    .grid_col-sm-6, .grid.grid_cols-sm-6 > * {
      grid-column: span 6; }
    .grid_col-sm-7, .grid.grid_cols-sm-7 > * {
      grid-column: span 7; }
    .grid_col-sm-8, .grid.grid_cols-sm-8 > * {
      grid-column: span 8; }
    .grid_col-sm-9, .grid.grid_cols-sm-9 > * {
      grid-column: span 9; }
    .grid_col-sm-10, .grid.grid_cols-sm-10 > * {
      grid-column: span 10; }
    .grid_col-sm-11, .grid.grid_cols-sm-11 > * {
      grid-column: span 11; }
    .grid_col-sm-12, .grid.grid_cols-sm-12 > * {
      grid-column: span 12; } }
  @media only screen and (min-width: 1024px) {
    .grid_col-md-1, .grid.grid_cols-md-1 > * {
      grid-column: span 1; }
    .grid_col-md-2, .grid.grid_cols-md-2 > * {
      grid-column: span 2; }
    .grid_col-md-3, .grid.grid_cols-md-3 > * {
      grid-column: span 3; }
    .grid_col-md-4, .grid.grid_cols-md-4 > * {
      grid-column: span 4; }
    .grid_col-md-5, .grid.grid_cols-md-5 > * {
      grid-column: span 5; }
    .grid_col-md-6, .grid.grid_cols-md-6 > * {
      grid-column: span 6; }
    .grid_col-md-7, .grid.grid_cols-md-7 > * {
      grid-column: span 7; }
    .grid_col-md-8, .grid.grid_cols-md-8 > * {
      grid-column: span 8; }
    .grid_col-md-9, .grid.grid_cols-md-9 > * {
      grid-column: span 9; }
    .grid_col-md-10, .grid.grid_cols-md-10 > * {
      grid-column: span 10; }
    .grid_col-md-11, .grid.grid_cols-md-11 > * {
      grid-column: span 11; }
    .grid_col-md-12, .grid.grid_cols-md-12 > * {
      grid-column: span 12; } }
  @media only screen and (min-width: 1200px) {
    .grid_col-lg-1, .grid.grid_cols-lg-1 > * {
      grid-column: span 1; }
    .grid_col-lg-2, .grid.grid_cols-lg-2 > * {
      grid-column: span 2; }
    .grid_col-lg-3, .grid.grid_cols-lg-3 > * {
      grid-column: span 3; }
    .grid_col-lg-4, .grid.grid_cols-lg-4 > * {
      grid-column: span 4; }
    .grid_col-lg-5, .grid.grid_cols-lg-5 > * {
      grid-column: span 5; }
    .grid_col-lg-6, .grid.grid_cols-lg-6 > * {
      grid-column: span 6; }
    .grid_col-lg-7, .grid.grid_cols-lg-7 > * {
      grid-column: span 7; }
    .grid_col-lg-8, .grid.grid_cols-lg-8 > * {
      grid-column: span 8; }
    .grid_col-lg-9, .grid.grid_cols-lg-9 > * {
      grid-column: span 9; }
    .grid_col-lg-10, .grid.grid_cols-lg-10 > * {
      grid-column: span 10; }
    .grid_col-lg-11, .grid.grid_cols-lg-11 > * {
      grid-column: span 11; }
    .grid_col-lg-12, .grid.grid_cols-lg-12 > * {
      grid-column: span 12; } }
  @media only screen and (min-width: 1440px) {
    .grid_col-xl-1, .grid.grid_cols-xl-1 > * {
      grid-column: span 1; }
    .grid_col-xl-2, .grid.grid_cols-xl-2 > * {
      grid-column: span 2; }
    .grid_col-xl-3, .grid.grid_cols-xl-3 > * {
      grid-column: span 3; }
    .grid_col-xl-4, .grid.grid_cols-xl-4 > * {
      grid-column: span 4; }
    .grid_col-xl-5, .grid.grid_cols-xl-5 > * {
      grid-column: span 5; }
    .grid_col-xl-6, .grid.grid_cols-xl-6 > * {
      grid-column: span 6; }
    .grid_col-xl-7, .grid.grid_cols-xl-7 > * {
      grid-column: span 7; }
    .grid_col-xl-8, .grid.grid_cols-xl-8 > * {
      grid-column: span 8; }
    .grid_col-xl-9, .grid.grid_cols-xl-9 > * {
      grid-column: span 9; }
    .grid_col-xl-10, .grid.grid_cols-xl-10 > * {
      grid-column: span 10; }
    .grid_col-xl-11, .grid.grid_cols-xl-11 > * {
      grid-column: span 11; }
    .grid_col-xl-12, .grid.grid_cols-xl-12 > * {
      grid-column: span 12; } }
  @media only screen and (min-width: 2000px) {
    .grid_col-xxl-1, .grid.grid_cols-xxl-1 > * {
      grid-column: span 1; }
    .grid_col-xxl-2, .grid.grid_cols-xxl-2 > * {
      grid-column: span 2; }
    .grid_col-xxl-3, .grid.grid_cols-xxl-3 > * {
      grid-column: span 3; }
    .grid_col-xxl-4, .grid.grid_cols-xxl-4 > * {
      grid-column: span 4; }
    .grid_col-xxl-5, .grid.grid_cols-xxl-5 > * {
      grid-column: span 5; }
    .grid_col-xxl-6, .grid.grid_cols-xxl-6 > * {
      grid-column: span 6; }
    .grid_col-xxl-7, .grid.grid_cols-xxl-7 > * {
      grid-column: span 7; }
    .grid_col-xxl-8, .grid.grid_cols-xxl-8 > * {
      grid-column: span 8; }
    .grid_col-xxl-9, .grid.grid_cols-xxl-9 > * {
      grid-column: span 9; }
    .grid_col-xxl-10, .grid.grid_cols-xxl-10 > * {
      grid-column: span 10; }
    .grid_col-xxl-11, .grid.grid_cols-xxl-11 > * {
      grid-column: span 11; }
    .grid_col-xxl-12, .grid.grid_cols-xxl-12 > * {
      grid-column: span 12; } }
  @media only screen and (min-width: 575px) {
    .grid_col-start-xs-1 {
      grid-column-start: 1; }
    .grid_col-end-xs-1 {
      grid-column-end: 2; }
    .grid_col-start-xs-2 {
      grid-column-start: 2; }
    .grid_col-end-xs-2 {
      grid-column-end: 3; }
    .grid_col-start-xs-3 {
      grid-column-start: 3; }
    .grid_col-end-xs-3 {
      grid-column-end: 4; }
    .grid_col-start-xs-4 {
      grid-column-start: 4; }
    .grid_col-end-xs-4 {
      grid-column-end: 5; }
    .grid_col-start-xs-5 {
      grid-column-start: 5; }
    .grid_col-end-xs-5 {
      grid-column-end: 6; }
    .grid_col-start-xs-6 {
      grid-column-start: 6; }
    .grid_col-end-xs-6 {
      grid-column-end: 7; }
    .grid_col-start-xs-7 {
      grid-column-start: 7; }
    .grid_col-end-xs-7 {
      grid-column-end: 8; }
    .grid_col-start-xs-8 {
      grid-column-start: 8; }
    .grid_col-end-xs-8 {
      grid-column-end: 9; }
    .grid_col-start-xs-9 {
      grid-column-start: 9; }
    .grid_col-end-xs-9 {
      grid-column-end: 10; }
    .grid_col-start-xs-10 {
      grid-column-start: 10; }
    .grid_col-end-xs-10 {
      grid-column-end: 11; }
    .grid_col-start-xs-11 {
      grid-column-start: 11; }
    .grid_col-end-xs-11 {
      grid-column-end: 12; }
    .grid_col-start-xs-12 {
      grid-column-start: 12; }
    .grid_col-end-xs-12 {
      grid-column-end: 13; } }
  @media only screen and (min-width: 768px) {
    .grid_col-start-sm-1 {
      grid-column-start: 1; }
    .grid_col-end-sm-1 {
      grid-column-end: 2; }
    .grid_col-start-sm-2 {
      grid-column-start: 2; }
    .grid_col-end-sm-2 {
      grid-column-end: 3; }
    .grid_col-start-sm-3 {
      grid-column-start: 3; }
    .grid_col-end-sm-3 {
      grid-column-end: 4; }
    .grid_col-start-sm-4 {
      grid-column-start: 4; }
    .grid_col-end-sm-4 {
      grid-column-end: 5; }
    .grid_col-start-sm-5 {
      grid-column-start: 5; }
    .grid_col-end-sm-5 {
      grid-column-end: 6; }
    .grid_col-start-sm-6 {
      grid-column-start: 6; }
    .grid_col-end-sm-6 {
      grid-column-end: 7; }
    .grid_col-start-sm-7 {
      grid-column-start: 7; }
    .grid_col-end-sm-7 {
      grid-column-end: 8; }
    .grid_col-start-sm-8 {
      grid-column-start: 8; }
    .grid_col-end-sm-8 {
      grid-column-end: 9; }
    .grid_col-start-sm-9 {
      grid-column-start: 9; }
    .grid_col-end-sm-9 {
      grid-column-end: 10; }
    .grid_col-start-sm-10 {
      grid-column-start: 10; }
    .grid_col-end-sm-10 {
      grid-column-end: 11; }
    .grid_col-start-sm-11 {
      grid-column-start: 11; }
    .grid_col-end-sm-11 {
      grid-column-end: 12; }
    .grid_col-start-sm-12 {
      grid-column-start: 12; }
    .grid_col-end-sm-12 {
      grid-column-end: 13; } }
  @media only screen and (min-width: 1024px) {
    .grid_col-start-md-1 {
      grid-column-start: 1; }
    .grid_col-end-md-1 {
      grid-column-end: 2; }
    .grid_col-start-md-2 {
      grid-column-start: 2; }
    .grid_col-end-md-2 {
      grid-column-end: 3; }
    .grid_col-start-md-3 {
      grid-column-start: 3; }
    .grid_col-end-md-3 {
      grid-column-end: 4; }
    .grid_col-start-md-4 {
      grid-column-start: 4; }
    .grid_col-end-md-4 {
      grid-column-end: 5; }
    .grid_col-start-md-5 {
      grid-column-start: 5; }
    .grid_col-end-md-5 {
      grid-column-end: 6; }
    .grid_col-start-md-6 {
      grid-column-start: 6; }
    .grid_col-end-md-6 {
      grid-column-end: 7; }
    .grid_col-start-md-7 {
      grid-column-start: 7; }
    .grid_col-end-md-7 {
      grid-column-end: 8; }
    .grid_col-start-md-8 {
      grid-column-start: 8; }
    .grid_col-end-md-8 {
      grid-column-end: 9; }
    .grid_col-start-md-9 {
      grid-column-start: 9; }
    .grid_col-end-md-9 {
      grid-column-end: 10; }
    .grid_col-start-md-10 {
      grid-column-start: 10; }
    .grid_col-end-md-10 {
      grid-column-end: 11; }
    .grid_col-start-md-11 {
      grid-column-start: 11; }
    .grid_col-end-md-11 {
      grid-column-end: 12; }
    .grid_col-start-md-12 {
      grid-column-start: 12; }
    .grid_col-end-md-12 {
      grid-column-end: 13; } }
  @media only screen and (min-width: 1200px) {
    .grid_col-start-lg-1 {
      grid-column-start: 1; }
    .grid_col-end-lg-1 {
      grid-column-end: 2; }
    .grid_col-start-lg-2 {
      grid-column-start: 2; }
    .grid_col-end-lg-2 {
      grid-column-end: 3; }
    .grid_col-start-lg-3 {
      grid-column-start: 3; }
    .grid_col-end-lg-3 {
      grid-column-end: 4; }
    .grid_col-start-lg-4 {
      grid-column-start: 4; }
    .grid_col-end-lg-4 {
      grid-column-end: 5; }
    .grid_col-start-lg-5 {
      grid-column-start: 5; }
    .grid_col-end-lg-5 {
      grid-column-end: 6; }
    .grid_col-start-lg-6 {
      grid-column-start: 6; }
    .grid_col-end-lg-6 {
      grid-column-end: 7; }
    .grid_col-start-lg-7 {
      grid-column-start: 7; }
    .grid_col-end-lg-7 {
      grid-column-end: 8; }
    .grid_col-start-lg-8 {
      grid-column-start: 8; }
    .grid_col-end-lg-8 {
      grid-column-end: 9; }
    .grid_col-start-lg-9 {
      grid-column-start: 9; }
    .grid_col-end-lg-9 {
      grid-column-end: 10; }
    .grid_col-start-lg-10 {
      grid-column-start: 10; }
    .grid_col-end-lg-10 {
      grid-column-end: 11; }
    .grid_col-start-lg-11 {
      grid-column-start: 11; }
    .grid_col-end-lg-11 {
      grid-column-end: 12; }
    .grid_col-start-lg-12 {
      grid-column-start: 12; }
    .grid_col-end-lg-12 {
      grid-column-end: 13; } }
  @media only screen and (min-width: 1440px) {
    .grid_col-start-xl-1 {
      grid-column-start: 1; }
    .grid_col-end-xl-1 {
      grid-column-end: 2; }
    .grid_col-start-xl-2 {
      grid-column-start: 2; }
    .grid_col-end-xl-2 {
      grid-column-end: 3; }
    .grid_col-start-xl-3 {
      grid-column-start: 3; }
    .grid_col-end-xl-3 {
      grid-column-end: 4; }
    .grid_col-start-xl-4 {
      grid-column-start: 4; }
    .grid_col-end-xl-4 {
      grid-column-end: 5; }
    .grid_col-start-xl-5 {
      grid-column-start: 5; }
    .grid_col-end-xl-5 {
      grid-column-end: 6; }
    .grid_col-start-xl-6 {
      grid-column-start: 6; }
    .grid_col-end-xl-6 {
      grid-column-end: 7; }
    .grid_col-start-xl-7 {
      grid-column-start: 7; }
    .grid_col-end-xl-7 {
      grid-column-end: 8; }
    .grid_col-start-xl-8 {
      grid-column-start: 8; }
    .grid_col-end-xl-8 {
      grid-column-end: 9; }
    .grid_col-start-xl-9 {
      grid-column-start: 9; }
    .grid_col-end-xl-9 {
      grid-column-end: 10; }
    .grid_col-start-xl-10 {
      grid-column-start: 10; }
    .grid_col-end-xl-10 {
      grid-column-end: 11; }
    .grid_col-start-xl-11 {
      grid-column-start: 11; }
    .grid_col-end-xl-11 {
      grid-column-end: 12; }
    .grid_col-start-xl-12 {
      grid-column-start: 12; }
    .grid_col-end-xl-12 {
      grid-column-end: 13; } }
  @media only screen and (min-width: 2000px) {
    .grid_col-start-xxl-1 {
      grid-column-start: 1; }
    .grid_col-end-xxl-1 {
      grid-column-end: 2; }
    .grid_col-start-xxl-2 {
      grid-column-start: 2; }
    .grid_col-end-xxl-2 {
      grid-column-end: 3; }
    .grid_col-start-xxl-3 {
      grid-column-start: 3; }
    .grid_col-end-xxl-3 {
      grid-column-end: 4; }
    .grid_col-start-xxl-4 {
      grid-column-start: 4; }
    .grid_col-end-xxl-4 {
      grid-column-end: 5; }
    .grid_col-start-xxl-5 {
      grid-column-start: 5; }
    .grid_col-end-xxl-5 {
      grid-column-end: 6; }
    .grid_col-start-xxl-6 {
      grid-column-start: 6; }
    .grid_col-end-xxl-6 {
      grid-column-end: 7; }
    .grid_col-start-xxl-7 {
      grid-column-start: 7; }
    .grid_col-end-xxl-7 {
      grid-column-end: 8; }
    .grid_col-start-xxl-8 {
      grid-column-start: 8; }
    .grid_col-end-xxl-8 {
      grid-column-end: 9; }
    .grid_col-start-xxl-9 {
      grid-column-start: 9; }
    .grid_col-end-xxl-9 {
      grid-column-end: 10; }
    .grid_col-start-xxl-10 {
      grid-column-start: 10; }
    .grid_col-end-xxl-10 {
      grid-column-end: 11; }
    .grid_col-start-xxl-11 {
      grid-column-start: 11; }
    .grid_col-end-xxl-11 {
      grid-column-end: 12; }
    .grid_col-start-xxl-12 {
      grid-column-start: 12; }
    .grid_col-end-xxl-12 {
      grid-column-end: 13; } }
  @media only screen and (min-width: 575px) {
    .grid_col-xs-1, .grid.grid_cols-xs-1 > * {
      grid-column: span 1; }
    .grid_col-xs-2, .grid.grid_cols-xs-2 > * {
      grid-column: span 2; }
    .grid_col-xs-3, .grid.grid_cols-xs-3 > * {
      grid-column: span 3; }
    .grid_col-xs-4, .grid.grid_cols-xs-4 > * {
      grid-column: span 4; }
    .grid_col-xs-5, .grid.grid_cols-xs-5 > * {
      grid-column: span 5; }
    .grid_col-xs-6, .grid.grid_cols-xs-6 > * {
      grid-column: span 6; }
    .grid_col-xs-7, .grid.grid_cols-xs-7 > * {
      grid-column: span 7; }
    .grid_col-xs-8, .grid.grid_cols-xs-8 > * {
      grid-column: span 8; }
    .grid_col-xs-9, .grid.grid_cols-xs-9 > * {
      grid-column: span 9; }
    .grid_col-xs-10, .grid.grid_cols-xs-10 > * {
      grid-column: span 10; }
    .grid_col-xs-11, .grid.grid_cols-xs-11 > * {
      grid-column: span 11; }
    .grid_col-xs-12, .grid.grid_cols-xs-12 > * {
      grid-column: span 12; } }
  @media only screen and (min-width: 768px) {
    .grid_col-sm-1, .grid.grid_cols-sm-1 > * {
      grid-column: span 1; }
    .grid_col-sm-2, .grid.grid_cols-sm-2 > * {
      grid-column: span 2; }
    .grid_col-sm-3, .grid.grid_cols-sm-3 > * {
      grid-column: span 3; }
    .grid_col-sm-4, .grid.grid_cols-sm-4 > * {
      grid-column: span 4; }
    .grid_col-sm-5, .grid.grid_cols-sm-5 > * {
      grid-column: span 5; }
    .grid_col-sm-6, .grid.grid_cols-sm-6 > * {
      grid-column: span 6; }
    .grid_col-sm-7, .grid.grid_cols-sm-7 > * {
      grid-column: span 7; }
    .grid_col-sm-8, .grid.grid_cols-sm-8 > * {
      grid-column: span 8; }
    .grid_col-sm-9, .grid.grid_cols-sm-9 > * {
      grid-column: span 9; }
    .grid_col-sm-10, .grid.grid_cols-sm-10 > * {
      grid-column: span 10; }
    .grid_col-sm-11, .grid.grid_cols-sm-11 > * {
      grid-column: span 11; }
    .grid_col-sm-12, .grid.grid_cols-sm-12 > * {
      grid-column: span 12; } }
  @media only screen and (min-width: 1024px) {
    .grid_col-md-1, .grid.grid_cols-md-1 > * {
      grid-column: span 1; }
    .grid_col-md-2, .grid.grid_cols-md-2 > * {
      grid-column: span 2; }
    .grid_col-md-3, .grid.grid_cols-md-3 > * {
      grid-column: span 3; }
    .grid_col-md-4, .grid.grid_cols-md-4 > * {
      grid-column: span 4; }
    .grid_col-md-5, .grid.grid_cols-md-5 > * {
      grid-column: span 5; }
    .grid_col-md-6, .grid.grid_cols-md-6 > * {
      grid-column: span 6; }
    .grid_col-md-7, .grid.grid_cols-md-7 > * {
      grid-column: span 7; }
    .grid_col-md-8, .grid.grid_cols-md-8 > * {
      grid-column: span 8; }
    .grid_col-md-9, .grid.grid_cols-md-9 > * {
      grid-column: span 9; }
    .grid_col-md-10, .grid.grid_cols-md-10 > * {
      grid-column: span 10; }
    .grid_col-md-11, .grid.grid_cols-md-11 > * {
      grid-column: span 11; }
    .grid_col-md-12, .grid.grid_cols-md-12 > * {
      grid-column: span 12; } }
  @media only screen and (min-width: 1200px) {
    .grid_col-lg-1, .grid.grid_cols-lg-1 > * {
      grid-column: span 1; }
    .grid_col-lg-2, .grid.grid_cols-lg-2 > * {
      grid-column: span 2; }
    .grid_col-lg-3, .grid.grid_cols-lg-3 > * {
      grid-column: span 3; }
    .grid_col-lg-4, .grid.grid_cols-lg-4 > * {
      grid-column: span 4; }
    .grid_col-lg-5, .grid.grid_cols-lg-5 > * {
      grid-column: span 5; }
    .grid_col-lg-6, .grid.grid_cols-lg-6 > * {
      grid-column: span 6; }
    .grid_col-lg-7, .grid.grid_cols-lg-7 > * {
      grid-column: span 7; }
    .grid_col-lg-8, .grid.grid_cols-lg-8 > * {
      grid-column: span 8; }
    .grid_col-lg-9, .grid.grid_cols-lg-9 > * {
      grid-column: span 9; }
    .grid_col-lg-10, .grid.grid_cols-lg-10 > * {
      grid-column: span 10; }
    .grid_col-lg-11, .grid.grid_cols-lg-11 > * {
      grid-column: span 11; }
    .grid_col-lg-12, .grid.grid_cols-lg-12 > * {
      grid-column: span 12; } }
  @media only screen and (min-width: 1440px) {
    .grid_col-xl-1, .grid.grid_cols-xl-1 > * {
      grid-column: span 1; }
    .grid_col-xl-2, .grid.grid_cols-xl-2 > * {
      grid-column: span 2; }
    .grid_col-xl-3, .grid.grid_cols-xl-3 > * {
      grid-column: span 3; }
    .grid_col-xl-4, .grid.grid_cols-xl-4 > * {
      grid-column: span 4; }
    .grid_col-xl-5, .grid.grid_cols-xl-5 > * {
      grid-column: span 5; }
    .grid_col-xl-6, .grid.grid_cols-xl-6 > * {
      grid-column: span 6; }
    .grid_col-xl-7, .grid.grid_cols-xl-7 > * {
      grid-column: span 7; }
    .grid_col-xl-8, .grid.grid_cols-xl-8 > * {
      grid-column: span 8; }
    .grid_col-xl-9, .grid.grid_cols-xl-9 > * {
      grid-column: span 9; }
    .grid_col-xl-10, .grid.grid_cols-xl-10 > * {
      grid-column: span 10; }
    .grid_col-xl-11, .grid.grid_cols-xl-11 > * {
      grid-column: span 11; }
    .grid_col-xl-12, .grid.grid_cols-xl-12 > * {
      grid-column: span 12; } }
  @media only screen and (min-width: 2000px) {
    .grid_col-xxl-1, .grid.grid_cols-xxl-1 > * {
      grid-column: span 1; }
    .grid_col-xxl-2, .grid.grid_cols-xxl-2 > * {
      grid-column: span 2; }
    .grid_col-xxl-3, .grid.grid_cols-xxl-3 > * {
      grid-column: span 3; }
    .grid_col-xxl-4, .grid.grid_cols-xxl-4 > * {
      grid-column: span 4; }
    .grid_col-xxl-5, .grid.grid_cols-xxl-5 > * {
      grid-column: span 5; }
    .grid_col-xxl-6, .grid.grid_cols-xxl-6 > * {
      grid-column: span 6; }
    .grid_col-xxl-7, .grid.grid_cols-xxl-7 > * {
      grid-column: span 7; }
    .grid_col-xxl-8, .grid.grid_cols-xxl-8 > * {
      grid-column: span 8; }
    .grid_col-xxl-9, .grid.grid_cols-xxl-9 > * {
      grid-column: span 9; }
    .grid_col-xxl-10, .grid.grid_cols-xxl-10 > * {
      grid-column: span 10; }
    .grid_col-xxl-11, .grid.grid_cols-xxl-11 > * {
      grid-column: span 11; }
    .grid_col-xxl-12, .grid.grid_cols-xxl-12 > * {
      grid-column: span 12; } }
  .grid--no-gap {
    grid-gap: 0; }
  .grid--small-gap {
    grid-gap: 0.875rem;
    margin-bottom: 0.875rem; }
  .grid--no-row-gap {
    row-gap: 0; }
  .grid--no-col-gap {
    grid-gap: 0; }
  @media only screen and (min-width: 575px) {
    .grid_col-xs-first {
      order: -1; }
    .grid_col-xs-last {
      order: 13; } }
  @media only screen and (min-width: 768px) {
    .grid_col-sm-first {
      order: -1; }
    .grid_col-sm-last {
      order: 13; } }
  @media only screen and (min-width: 1024px) {
    .grid_col-md-first {
      order: -1; }
    .grid_col-md-last {
      order: 13; } }
  @media only screen and (min-width: 1200px) {
    .grid_col-lg-first {
      order: -1; }
    .grid_col-lg-last {
      order: 13; } }
  @media only screen and (min-width: 1440px) {
    .grid_col-xl-first {
      order: -1; }
    .grid_col-xl-last {
      order: 13; } }
  @media only screen and (min-width: 2000px) {
    .grid_col-xxl-first {
      order: -1; }
    .grid_col-xxl-last {
      order: 13; } }
  .grid.grid--align-center {
    justify-items: center; }
  .grid.grid--align-center {
    justify-items: center; }
  legacy normal stretch center safe-center unsafe-center start end self-start self-end left right baseline first baseline last baseline
.grid.grid--align-bottom {
    align-items: baseline; }
  .grid_col--v-align-auto {
    align-self: auto; }
  .grid_col--v-align-normal {
    align-self: normal; }
  .grid_col--v-align-stretch {
    align-self: stretch; }
  .grid_col--v-align-center {
    align-self: center; }
  .grid_col--v-align-start {
    align-self: start; }
  .grid_col--v-align-end {
    align-self: end; }
  .grid_col--v-align-self-start {
    align-self: self-start; }
  .grid_col--v-align-self-end {
    align-self: self-end; }
  .grid_col--v-align-baseline {
    align-self: baseline; }
  .grid_col--v-align-first-baseline {
    align-self: first-baseline; }
  .grid_col--v-align-last-baseline {
    align-self: last-baseline; }
  .grid_col--align-auto {
    justify-self: auto; }
  .grid_col--align-normal {
    justify-self: normal; }
  .grid_col--align-stretch {
    justify-self: stretch; }
  .grid_col--align-center {
    justify-self: center; }
  .grid_col--align-start {
    justify-self: start; }
  .grid_col--align-end {
    justify-self: end; }
  .grid_col--align-self-start {
    justify-self: self-start; }
  .grid_col--align-self-end {
    justify-self: self-end; }
  .grid_col--align-baseline {
    justify-self: baseline; }
  .grid_col--align-first-baseline {
    justify-self: first-baseline; }
  .grid_col--align-last-baseline {
    justify-self: last-baseline; }
