//Layout Modifiers
$sides: -top, -right, -bottom, -left;

.grid-no-padding {
    padding: 0 !important;
}
.grid-no-margin {
    margin: 0 !important;
}
//Padding
.grid-paddingXS  {padding: $spacingXS;}
.grid-paddingS   {padding: $spacingS;}
.grid-padding    {padding: $spacing;}
.grid-paddingL   {padding: $spacingL;}
.grid-paddingXL  {padding: $spacingXL;}
.grid-paddingXXL {padding: $spacingXXL;}

//Maring
.grid-marginXS   {margin: $spacingXS;}
.grid-marginS    {margin: $spacingS;}
.grid-margin     {margin: $spacing;}
.grid-marginL    {margin: $spacingL;}
.grid-marginXL   {margin: $spacingXL;}
.grid-marginXXL  {margin: $spacingXXL;}

//@each $sides
@each $side in $sides { 
    .grid-no-margin#{$side} {
        margin#{$side}: 0 !important;
    }
    .grid-no-padding#{$side} {
        padding#{$side}: 0 !important;
    }
    //Padding Size for Side
    .grid-paddingXS#{$side}  {padding#{$side}: $spacingXS;}
    .grid-paddingS#{$side}   {padding#{$side}: $spacingS;}
    .grid-padding#{$side}    {padding#{$side}: $spacing;}
    .grid-paddingL#{$side}   {padding#{$side}: $spacingL;}
    .grid-paddingXL#{$side}  {padding#{$side}: $spacingXL;}
    .grid-paddingXXL#{$side} {padding#{$side}: $spacingXXL;}

    //Margin Size for Side
    .grid-marginXS#{$side}   {margin#{$side}: $spacingXS;}
    .grid-marginS#{$side}    {margin#{$side}: $spacingS;}
    .grid-margin#{$side}     {margin#{$side}: $spacing;}
    .grid-marginL#{$side}    {margin#{$side}: $spacingL;}
    .grid-marginXL#{$side}   {margin#{$side}: $spacingXL;}
    .grid-marginXXL#{$side}  {margin#{$side}: $spacingXXL;}
}
@each $size in $sizes { 
    @include mq($size) {
        @each $side in $sides { 
            .grid-no-margin#{$side}-for-#{$size} {
                margin#{$side}: 0 !important;
            }
            .grid-no-padding#{$side}-for-#{$size} {
                padding#{$side}: 0 !important;
            }
            //Padding Size for Side
            .grid-paddingXS#{$side}-for-#{$size}  {padding#{$side}: $spacingXS;}
            .grid-paddingS#{$side}-for-#{$size}   {padding#{$side}: $spacingS;}
            .grid-padding#{$side}-for-#{$size}    {padding#{$side}: $spacing;}
            .grid-paddingL#{$side}-for-#{$size}   {padding#{$side}: $spacingL;}
            .grid-paddingXL#{$side}-for-#{$size}  {padding#{$side}: $spacingXL;}
            .grid-paddingXXL#{$side}-for-#{$size} {padding#{$side}: $spacingXXL;}

            //Margin Size for Side
            .grid-marginXS#{$side}-for-#{$size}   {margin#{$side}: $spacingXS;}
            .grid-marginS#{$side}-for-#{$size}    {margin#{$side}: $spacingS;}
            .grid-margin#{$side}-for-#{$size}     {margin#{$side}: $spacing;}
            .grid-marginL#{$side}-for-#{$size}    {margin#{$side}: $spacingL;}
            .grid-marginXL#{$side}-for-#{$size}   {margin#{$side}: $spacingXL;}
            .grid-marginXXL#{$side}-for-#{$size}  {margin#{$side}: $spacingXXL;}
        }
    }
}

//Radius
$radiusSides: -top-left, -top-right, -bottom-right, -bottom-left;

.grid-radiusXS{
    border-radius: $radiusXS;
}
.grid-radiusS{
    border-radius: $radiusS;
}
.grid-radius{
    border-radius: $radius;
}
.grid-radiusL{
    border-radius: $radiusL;
}
.grid-radiusXL{
    border-radius: $radiusXL;
}
.grid-radiusXXL{
    border-radius: $radiusXXL;
}
@each $radiusSide in $radiusSides {
    .grid-radiusXS#{$radiusSide}{
        border#{$radiusSide}-radius: $radiusXS;
    }
    .grid-radiusS#{$radiusSide}{
        border#{$radiusSide}-radius: $radiusS;
    }
    .grid-radius#{$radiusSide}{
        border#{$radiusSide}-radius: $radius;
    }
    .grid-radiusL#{$radiusSide}{
        border#{$radiusSide}-radius: $radiusL;
    }
    .grid-radiusXL#{$radiusSide}{
        border#{$radiusSide}-radius: $radiusXL;
    }
    .grid-radiusXXL#{$radiusSide}{
        border#{$radiusSide}-radius: $radiusXXL;
    }
}